@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&display=swap');

@font-face {
    font-family: 'Dunkin', cursive;
    src: url('./fontes/Dunkin.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #EDE0D4;
    --cor1: #E6CCB2;
    --cor2: #DDB892;
    --cor3: #B08968;
    --cor4: #7F5539;
    --cor4: #9C6644;
    --cor5: #000000;
    --cor6: #260701;
    --cor7: #ffffff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Arima', cursive;
    --fonte-dunkin: 'Dunkin', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);   
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.562);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-dunkin);
    font-weight: normal;
    font-size: 1.8em;
    
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-dunkin);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.507), transparent);
    text-indent: 8px;
    font-weight: bold;
}
main h3 {
    color: var(--cor3);
    font-family: var(--fonte-dunkin);
    font-size: 1.3em;
    font-weight: normal;
    background-color: var(--cor0);
    text-indent: 8px;
    text-align: center;
    font-weight: bold;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}